<div class="container childLandingContainer">
  <div class="col s8 offset-s2">
    <h4>Hey {{selectedChild.firstName}}, BRUSH YOUR DAMN TEEF?</h4>
  </div>


<!-- -------------------------- AVATAR SELECTED ------------------------- -->
  <div class="childUserSelected">
      <div class="card">
        <div>
          <div class="card-image valign-wrapper">
            <img src="{{selectedChild.avatar}}" class="valign">  
          </div>
          <div class="card-content">
            <h4>{{selectedChild.firstName}}</h4>
          </div>
        </div>
      </div>
  </div>

  <a class="waves-effect waves-light btn-large largeBtn"><i class="material-icons right">timer</i>I brushed my damn teeth!</a>


</div>