<div class="container carouselContainer">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card">
        <div class="card-image">
          <img src="img/info/surpriseDentist.jpg">
          <span class="card-title">Did you know?<p class="subfact">If you get your tooth knocked out, put it in milk and hold it in your mouth—this will help your tooth to survive longer. Make sure you see a dentist right away.</p></span>
        </div>
      </div>
    </div>
  </div>
</div>
