<div class="container childLoginContainer">
  <div class="col s10 offset-s1">
    <h4>Who is ready to boogie & brush?</h4>
    <a class="btn-floating red" ng-click="applyDeleteMode()"><i class="large material-icons">delete_sweep</i></a>
    <a class="btn-floating teal-btn" ng-show="lessThanFourChildren" ng-href="#/childregister"><i class="large material-icons">add_circle</i></a>
  </div>


<!-- -------------------------- AVATAR SELECT MODAL ------------------------- -->
  <div class="childUserSelectSlider">
    <div class="childUserList" ng-focus="true">

    

    <!-- -------------------------- POPULATES WITH ALL USERS TIED WITH PARENT ACCOUNT ------------------------- -->
      <div class="card child-login-card angular-animate slide" ng-repeat="child in children">
        <a class="btn-floating top-right-btn red" ng-click="activateAreYouSureModal(child, $index)" ng-show="deleteMode"><i class="large material-icons">delete_forever</i></a>
        <div ng-click="deleteMode||selectActiveChild(child)">
          <div class="card-image valign-wrapper">
            <img ng-src="{{child.avatar}}" class="animate-show valign" fade-in>  
          </div>
          <div class="card-content">
            <h4>{{child.firstName}}</h4>
          </div>
        </div>
      </div>


      <!-- -------------------------- LESS THAN 4 USERS ------------------------- -->
      <div class="card" ng-show="lessThanFourChildren"> 
          <a class="btn-floating btn-large add-child-btn" ng-href="#/childregister">
            <i class="large material-icons">add_circle</i>
          </a>

          <div class="card-content">
            <h4>Add Child</h4>
          </div>
      </div>

    </div>
  </div>
</div>

<!-- -------------------------- DELETE: ARE YOU SURE ------------------------- -->
<div class="errormodal" ng-keypress="closeModal()" ng-click="closeModal()" id="areYouSureYouWantToDelete" autofocus="true" ng-show="deleteButtonClicked" ng-if="deleteButtonClicked" ng-focus="deleteButtonClicked">
  <h4>Are you sure</h4>
  <h5>you want to delete {{childToDelete.firstName}} from your account?</h5>
  <div class="row buttonRow">
    <button class="btn col s5 offset-s1" ng-click="closeModal()">Nope. Just kidding.</button>
    <button class="btn red col s5" ng-click="deleteSelectedChild(childToDelete, childCardToAnimate)">Yes. Delete account.</button>
  </div>
</div>