<div class="container childLoginContainer">
  <div class="col s8 offset-s2">
    <h4>Testytest</h4>
  </div>


<!-- -------------------------- AVATAR SELECT MODAL ------------------------- -->
  <div class="childUserSelectSlider">
    <div class="childUserList">
      <div class="card">
        <div>
          <div class="card-image valign-wrapper">
            <img src="{{selectedChild.avatar}}" class="valign">  
          </div>
          <div class="card-content">
            <h4>{{selectedChild.firstName}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>