<div class="navBar">
    <div class="fixed-action-btn horiztonal">
        <a class="btn-floating btn-large pink">
          <img src="./img/avatar/cute-monsters-vector-element_f1J9X6v__L.png">  <!-- Should be user avatar --> 
        </a>
        <ul>
          <li><a class="btn-floating sub-btn"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating sub-btn"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn-floating sub-btn"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating sub-btn"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>

    <p class="mainHeader"> Boogie & Brush</p>
</div>