$orange-light: #E47B39;
$orange-mid: #E2681D;
$orange-dark: #DC2D00;
$yellow-light: #EEB436;
$yellow-mid: #EEA30C;
$yellow-dark: #DA9700;
$pink-light: #FF6D78;
$pink-dark: #FF005D;
$purple-light: #D146D5;
$purple-dark: #C006C1;
$bright-green: #04BE01;
$blue-light: #00BEBE;
$blue-dark: #017575;