@import "../components/colors";

body {
  height: 660px !important;
  max-height: 660px !important;
}


#tabletSizingDiv {
  background: url(../img/background/bg4.png)  no-repeat center center fixed;
  background-size: cover;
  z-index: 1;
  width: 538px !important;
  max-width: 538px !important;
  height: 712px !important;
  max-height: 712px !important;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#mainContainer {
    background-color: $blue-light;
    position: absolute;
    left: 0;
    top: 0;
    height: 600px;
    width: 94%;
    margin: 18% 3% 0% 3%;
    border-radius: 4px;
    opacity: 0.95;
}
