@import "../components/colors";


.childRegisterContainer {

    margin: 40px 25px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .95);
    width: 90%;
    height: 100%;
    text-align: center;
    padding: .5em;
    border-radius: 5px;

    .my-card-row {
        margin: 0 0 40px -1.6%;
        padding: 5px 60px;
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: row;
        -webkit-overflow-scrolling: touch;
        background-color: $pink-light;
        width: 103.2%;
        opacity: 0.9;
    }

    .card {
        box-shadow: none !important;
        cursor: none;
        opacity: 0.9;
        display: inline-block;
        margin: 0 5px;
        max-width: 100px !important;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;

        .card-image {
            height: 120px !important;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden;
        }

        img {
            margin: 0;
            margin-top: -20px;
            display: inline-block;
            max-width: 120%;
            max-height: 120%;
            object-fit: cover !important;
        }

        .card-content {
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: rgba(0, 0, 0, .9);
            overflow-y: hidden;
            position: absolute;
            top: 63%;
        }

        h4 {
            margin: 0;
            white-space:nowrap;
            padding: 5px;
            width: 100%;
            font-size: 27px !important;
            text-align: center;
            color: white;
        }
    }


    h4 {
        font-family: "Cabin Sketch";
        font-size: 40px;
        font-weight: bold;
    }

    p {
        margin: 0;
        margin-top: -10px;
        font-size: 25px;
        text-transform: uppercase;
        color: $pink-dark;
        padding: 0;
        letter-spacing: 1.3px;
        font-weight: bold;
    }

    .row:nth-of-type(1) {
        margin-top: 1em;
    }

    .btn {
        margin: 20px;
        border-radius: 20px;
    }
}
