@import "../components/colors";


.errormodal {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.5), 0 12.5px px 0 rgba(0, 0, 0, 0.6);
    z-index: 1000;

    position: absolute;
    top: 40%;
    left: 7%;
    background-color: $yellow-light;
    color: $blue-dark;
    padding: 2px;
    height: 155px;
    width: 86%;
    overflow-y: hidden;
    border-radius: 10px;
    text-align: center;

    i {
        font-size: 33px;
        padding:  0 2px;
    }

    .btn-floating {
        margin: 10px;
        position: absolute;
        top: 3px;
        right: 0px;
    }
    
    .mockmodal-content {
        display: inline-block;
        margin: 5%;
        margin-top: 8%;
        margin-left: -1em;
        width: 60%;
        font-size: 18px;
        line-height: 15px;
    }

    .mockmodal-content-with-btn {
        display: inline-block;
        margin: 5%;
        margin-top: 8%;
        margin-left: -1%;
        margin-right: 1%;
        width: 70%;
        font-size: 18px;
        line-height: 15px;
    }

    h4 {
        font-family: 'Amatic SC', cursive; 
        font-size: 31px;
        margin-bottom: -10px;
        padding: 0;
    }

    h4:nth-of-type(1){
        font-size: 36px;
        margin-bottom: -25px;
        margin-top: -25px;
        padding: 0;
        font-weight: bold;
    }

    h4:nth-of-type(2){
        font-family: 'Amatic SC', cursive; 
        font-size: 31px;
        margin-bottom: -15px;
        padding: 0;
        color: white;
    }


    p {
        color: $orange-dark;
    }

    .errormodal-photo-container {
        max-width: 100px;
        min-width: 100px;
        margin: 2% 2% 10%;
        float: left;
        overflow: hidden;
        border-radius: 30px;
        height: 130px;
        background-color: white;

    }

    .errormodal-photo {
        width: 70px;
        background-color: white;

    }

    h5 {
        font-size: 16px !important;
        margin-top: 20px;
        color: white;
    }

    .buttonRow {
        margin-top: 15px;

        .btn {
            width: 38%;
            margin: 0 2px;
            line-height: 20px !important;
            padding-top: 2px;

            .btn-subtext {
                width: 110%;
                line-height: 13px !important;
                color: white;
                font-size: 11px !important;
                margin: 0;
                padding: 0;
            }
        }

        .btn:nth-of-type(1) {
            margin-left: 12%;
        }
    }

}

.mockmodal:focus {
 outline: none;
}