@import "../components/colors";


.largeBtn {
    margin: 4%;
    width: 90%;
    border-radius: 5px;

    font-family: "Neucha";
    font-size: 35px !important;

    i {
        font-size: 40px !important;
    }
}