@import "../components/colors";


#loaderContainer {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 15px;
    padding: 10px;
    position: fixed;
    top: 48%;
    left: 42%;
    z-index: 1100;
}