@import "../components/colors";


.parentLoginContainer {
    margin: 20px 25px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .8);
    height: 100%;
    text-align: center;
    padding: 1vw;

    h4 {
        font-family: "Amatic SC";
        font-size: 32px !important;
        margin: 0;
        margin-top: -3px;
        padding: 4px;
        padding-bottom: 0;
    }

    p {
        margin: 0;
        margin-top: -1.4vw;
        padding: 0;
        font-size: 15px;
        letter-spacing: 1.3px;
        color: #ef5350;
        font-weight: 1.5;
    }

    .row {
        height: 60%;
        padding: 0;
        margin: 0;
    }

    form {
        width: 96%;
        margin: 0 2%;
    }

    form .row:nth-of-type(1) {
        margin-top:20px;
    }

    .pagination {
        margin: 5px auto;
        padding: 1px;
        width: 34%;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 5px;
        font-family: "Amatic SC";
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;

        .active {
            margin-top: 4px;
        }

        .waves-effect {
            background-color: rgba(0, 0, 0, .09);
            margin-bottom: 4px;
        }
    }

    .input-field {
        padding: 0;
        margin: 1vw 5vw;
    }

    .btn {
        margin: 1vw;
    }

    .btnRow {
        width: 80%;
        margin: 0 10%;
    }
}