@import "../components/colors";


.slideshowContainer {
    margin-top: 4.5em;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    background-color: white;
    color: white;
}



.subtitleForSlideshow {
    background-color: white;
}