<div class="container childLandingContainer">
  <div class="col s8 offset-s2">
    <h4>Hey {{selectedChild.firstName}}, are you ready to brush?</h4>
  </div>

  <!-- TODO: adjust styling for child list to accomodate fullscreen -->


<!-- -------------------------- AVATAR SELECTED ------------------------- -->
  <div class="childUserSelected">
      <div class="card">
        <div>
          <div class="card-image valign-wrapper">
            <img ng-src="{{selectedChild.avatar}}" class="animate-show valign" fade-in>
          </div>
          <div class="card-content">
            <h4>{{selectedChild.firstName}}</h4>
          </div>
        </div>
      </div>
  </div>

  <a class="waves-effect waves-light btn-large largeBtn" ng-href="#/brushingchart/{{selectedChild.subuid}}"><i class="material-icons right">insert_chart</i>View Your Chart</a>
  <a class="waves-effect waves-light btn-large largeBtn" ng-href="#/brushing/{{selectedChild.subuid}}"><i class="material-icons right">timer</i>Brush Your Teeth!</a>


</div>
