<div class="container childRegisterContainer">
  <div class="col s8 offset-s2">
    <h4>"I'm ready to brush!"</h4>
    <p>Create Child Account</p>
  </div>

  <div class="my-card-row">
    <div class="card">
        <div class="card-image valign-wrapper">
          <img ng-src="./img/icon/monsterBrushDemo.gif" class="animate-show valign" fade-in>
        </div>
        <div class="card-content">
          <h4>Brush</h4>
        </div>
    </div>

    <div class="card">
        <div class="card-image valign-wrapper">
          <img ng-src="./img/songCovers/dance9.png" class="animate-show valign" fade-in>
        </div>
        <div class="card-content">
          <h4>Boogie</h4>
        </div>
    </div>

    <div class="card">
        <div class="card-image valign-wrapper">
          <img ng-src="./img/icon/recordBrushingDemo.gif" class="animate-show valign" fade-in>
        </div>
        <div class="card-content">
          <h4>Report</h4>
        </div>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="input-field col s10 offset-s1">
        <i class="material-icons prefix">face</i>
        <input type="text" autofocus="true" focus-if ng-model="childAccount.firstName">
        <label>First Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s5 offset-s1">
        <i class="material-icons prefix">cake</i>
        <input type="text" pattern="[0-9]" ng-model="childAccount.age" maxlength="2">
        <label>Age</label>
      </div>

      <div class="col s5 btnDiv">
         <a class="btn-floating btn-large waves-effect waves-light avatarChoose"><img class="buttonAvatar" ng-click="showAvatarModal()" src="{{childAccount.avatar}}"></a>
         <h6 class="btnLabel">Select your avatar</h6>
      </div>
    </div>

  <a class="btn red" ng-href="#/childlogin"><i class="material-icons left">error_outline</i>Oops JK!</a>
  <button class="btn" ng-click="checkChildRegForm()"><i class="material-icons left">person_add</i>Add Me!</button>

  </form>
</div>




<!-- -------------------------     ERROR MODAL     ------------------------- -->
<div class="errormodal lighten-2" ng-click="closeModal()" autofocus="true" ng-show="userError">
  <a class="waves-effect waves-green btn-floating teal"><i class="material-icons left">close</i></a>
  <div class="errormodal-photo-container"><img ng-src="img/avatar/av16.png" class="animate-show errormodal-photo" fade-in></div>
  <div class="mockmodal-content">
    <h4><i class="medium-icon material-icons">error_outline</i>Oops!</h4>
    <h4>Houston we have a problem.</h4>
    <p>{{errorMessage}}</p>
  </div>
</div>

<!-- -------------------------- AVATAR SELECT MODAL ------------------------- -->
<div class="avatarSelectModal" ng-keypress="closeAvatarModal()" ng-click="closeAvatarModal()" id="avatarSelectModal" autofocus="true" ng-show="viewAvatars" ng-if="viewAvatars" ng-focus="viewAvatars">
  <h4>Select Your Avatar</h4>
  <div class="avatarSelectModalSlider">
    <ul class="avatarList">
      <li ng-repeat="avatar in avatars">
        <img ng-src="./{{avatar.img}}" class="animate-show selectionAvatars z-depth-2" fade-in ng-click="assignAvatar(avatar.img)">
      </li>
    </ul>
  </div>
</div>
