<div class="container parentLoginContainer">
  <div class="row">
    <div class="col s6 offset-s1">
      <h4 >"I need an adult!"</h4>
      <p>Parent {{parentLoginTitle}}</p>
    </div>

    <ul class="pagination col s5">
      <li class="waves-effect" ng-hide="!modeLogin" ng-href="/#/parentregister"><a ng-href="/#/parentregister">Register</a></li>
      <li class="active" ng-hide="modeLogin" ng-href="/#/parentregister"><a ng-href="/#/parentregister">Register</a></li>
      <li class="waves-effect" ng-hide="modeLogin" ng-href="/#/parentlogin"><a ng-href="/#/parentlogin">Login</a></li>
      <li class="active" ng-hide="!modeLogin" ng-href="/#/parentlogin"><a ng-href="/#/parentlogin">Login</a></li>
    </ul>
  </div>

<!-- ------------------------- REGISTER PARENT ------------------------- -->
  <form ng-hide="modeLogin" id="add-new-user">
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input type="email" autocomplete="nope" focus-if ng-model="account.email">
          <label>Email</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">security</i>
          <input type="password" autocomplete="nope" ng-model="account.password">
          <label>Password</label>
        </div>
    </div>

    <div class="row">
      <p class="col s8 offset-s2">
        <input type="checkbox" id="emailSubscribe" ng-model="account.emailSubscribe"/>
        <label for="emailSubscribe">Weekly email reports.</label>
      </p>
    </div>

    <div class="row btnRow">
      <div id="google-button" class="btn white" ng-click="loginGoggle()"><span class="icon"></span><span>Register</span></div>
      <button class="btn" ng-click="register()"><i class="material-icons left">person_add</i>Register</button>
    </div>
  </form>


<!-- -------------------------   LOGIN PARENT   ------------------------- -->
  <form id="login" ng-hide="!modeLogin">
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input type="email" autofocus="true" focus-if autocomplete="nope" ng-model="account.email">
          <label>Email</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">security</i>
          <input type="password" autocomplete="nope" ng-model="account.password">
          <label>Password</label>
        </div>
    </div>

    <div class="row btnRow">
      <div id="google-button" class="btn white" ng-click="loginGoggle()"><span class="icon"></span><span>Login</span></div>
      <button class="btn" ng-click="login()"><i class="material-icons left">person_add</i>Login</button>
    </div>
  </form>

</div>




<!-- -------------------------     ERROR MODAL     ------------------------- -->
<div class="errormodal lighten-2" ng-click="closeModal()" autofocus="true" ng-show="userError">
  <a class="waves-effect waves-green btn-floating teal"><i class="material-icons left">close</i></a>
  <div class="errormodal-photo-container"><img ng-src="img/avatar/av16.png" class="animate-show errormodal-photo" fade-in></div>
  <div class="mockmodal-content">
    <h4><i class="medium-icon material-icons">error_outline</i>Oops!</h4>
    <h4>Houston we have a problem.</h4>
    <p>{{errorMessage}}</p>
  </div>
</div>



<script src="https://apis.google.com/js/platform.js" async defer></script>
