<nav class="navBar row white">
    <div class="fixed-action-btn click-to-toggle col s3">
        <a class="btn-floating btn-large">
          <img ng-src="{{navImg}}">
        </a>
        <ul>
          <li><a class="btn-floating sub-btn orange-mid" ng-show="childIsAuth" ng-click="closeNav($event)" ng-href="#/brushingchart/{{selectedChild.subuid}}"><i class="material-icons">event</i></a></li>
          <li><a class="btn-floating sub-btn blue-dark"  ng-show="childIsAuth" ng-click="closeNav($event)" ng-href="#/brushing/{{selectedChild.subuid}}"><i class="material-icons">music_note</i></a></li>
          <li><a class="btn-floating sub-btn yellow-mid" ng-show="childIsAuth" ng-click="closeNav($event)" ng-href="#/childlogin"><i class="material-icons">supervisor_account</i></a></li>
          <li><a class="btn-floating sub-btn purple-dark" ng-click="closeNav($event)" ng-href="#/logout"><i class="material-icons" ng-show="isParentAuth">exit_to_app</i><i class="large material-icons" ng-show="!isParentAuth">account_circle</i></a></li>
        </ul>
    </div>

    <div class="logo-container-main"><img class="mainHeader" ng-src="./img/icon/main-logo.png"></div>
</nav>