<!-- CAROUSEL -->
<div id="carouselContainer" ng-show="modeLogin || parentMode"><callan-carousel></callan-carousel></div>
<!-- END OF CAROUSEL -->

<!-- PARENT LOGIN/REGISTER -->
<div id="parentLoginContainer" ng-include="'./partials/login-parent.html'" ng-show="parentMode"></div>
<!-- END OF PARENT LOGIN/REGISTER -->

<!-- CHILD LOGIN/REGISTER -->
<div id="parentLoginContainer" ng-include="'./partials/child-login.html'" ng-show="childMode && modeLogin"></div>
<!-- CHILD LOGIN/REGISTER -->

<!-- CHILD LOGIN/REGISTER -->
<div id="parentLoginContainer" ng-include="'./partials/child-register.html'" ng-show="childMode && !modeLogin"></div>
<!-- CHILD LOGIN/REGISTER -->