body {
  background: url(../img/background/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: 1; }

#mainContainer {
  position: absolute;
  left: 0vw;
  top: 0vw;
  height: 85%;
  width: 94%;
  margin: 15% 3% 0% 3%;
  border-radius: 4px;
  opacity: 0.95; }

.navBar {
  position: absolute;
  width: 100%;
  height: 13vw;
  background-color: rgba(255, 255, 255, 0.85); }
  .navBar .fixed-action-btn {
    display: inline-block;
    position: relative;
    padding: 5vw 3vw; }
    .navBar .fixed-action-btn img {
      width: 60%;
      height: auto;
      margin: 10% 20%; }
    .navBar .fixed-action-btn .btn-floating {
      width: 10vw !important;
      height: 10vw !important; }
    .navBar .fixed-action-btn ul {
      top: 19vw;
      padding: 0;
      margin: 0; }
  .navBar .mainHeader {
    margin: 0;
    padding: 1vw;
    font-family: 'Londrina Shadow', cursive;
    font-size: 10vw;
    color: #4e342e; }
